# Ignore everything by default
*

# But include source code and config files
!.gitignore
!.golangci.yml
!*.go
!go.mod
!go.sum
!*.yaml.example
!*.md
!LICENSE

# Include directories
!pkg/
!pkg/**
!.github/
!.github/**

# Exclude build artifacts and local config
drift-analysis-cli
config.yaml
config.yaml.old
output.txt
*.log
